@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/Files/GetCssFile?fileString=Content/profile.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Kaushan+Script&f..">

    <title>
        Войти
    </title>
</head>

<body>
    <div class="about_us">
        <a class="phrases">Узнавайте о новых челленджах.</a>
        <a class="phrases">Набирайте рейтинг.</a>
        <a class="phrases">Соревнуйтесь!</a>
    </div>

    <div class="entrance">

        <form method="get" action="/Auth/Authorize" class="body_table">
            <table class="body_table">
                <tr>
                    <td class="enter">Логин</td>
                    <td><input type="text" class="input_box" name="Login" /></td>
                </tr>

                <tr>
                    <td class="enter">Пароль</td>
                    <td><input type="password" class="input_box" name="Password" /></td>
                </tr>

                <tr>
                    <!--<td colspan="2"><input type="submit" value="Войти" class="button_classic" /></td> -->
                    <td colspan="2">
                        <input type="submit" class="button_classic" value="Войти"/>
                    </td>
                </tr>


                <tr>
                    <td colspan="2">
                        <div class="topics_title"><h1>Присоединяйся к Challenge прямо сейчас!</h1> </div>
                        <a class="button_classic" href="/Auth/Registration"> Зарегестрироваться</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>