@{
    Challenges.Models.Users user = (Challenges.Models.Users)Session["User"] ?? new Challenges.Models.Users();
    if (user.Nickname == null) { user.Nickname = user.Login; }
    ViewBag.User = user;
    ViewBag.IsAuthorized = (Challenges.Models.Users)Session["User"] != null;
}

<style>
    .input_box {
        min-width: 100%;
    }
</style>

@if (ViewBag.IsAuthorized)
{
    <div style="position: absolute;left: 500px; right: 500px;top: 50px;background-color: darkgray;border-radius: 15px;">
        <h1>Настройки профиля</h1>
        <br />
        <form method="post" enctype="multipart/form-data" action="/Files/UpdateProfile">
            <div>Никнейм</div>
            <div><input type="text" class="input_box" value="@ViewBag.User.Nickname" name="nickname" /></div>
            <br />

            <div>Аватарка</div>
            <div><input type="file" class="input_box" name="avatarupload" /></div>
            <br />

            <div colspan="2"><input type="submit" /></div>
        </form>
        <br />
        <form method="get" action="/Auth/Exit" style="margin-left: 30px;">
            <input type="submit" value="Выйти" style="background-color: red;" />
        </form>
        <form method="get" action="/Auth/SaveToCookie" style="margin-left: 30px;">
            <input type="submit" value="Загрузить в Cookie" />
        </form>
    </div>
}
else
{
    <div style="position: absolute;left: 500px; right: 500px;top: 50px;background-color: darkgray;border-radius: 5px;">
        <h1>Настройки профиля</h1>
        <br />
        <p>Упс, произошла ошибка. Возможно, вы не авторизованы?</p>
    </div>
}
