<form class="form_settings_profile">
    <div class="div_topics div_elems">
        <h3 class="settings_profile_title">Настройки профиля / @("@")zvendra</h3>

        <div class="form_avatar_profile">
            <div class="add_photo">
                <div class="avatar_settings_profile" src="css/icon_content/avatar.JPG"></div>
                <div class="avatar_add" src="css/icon_popup/add_photo.png"></div>
            </div>
            <button type="submit" class="button_avatar"> <span>Выберите фото</span> </button>
        </div>

        <div class="form_change">
            <div class="form_name_profile">
                <p class="nickname">Имя</p>
                <div class="line">
                    <input id="login" class="enter_profile_title" type="text" placeholder="Зверева Александра" size="15px;" class="input_box" />
                </div>
            </div>

            <div class="form_name_profile">
                <p class="nickname">Ник</p>
                <div class="line">
                    <input id="login" class="enter_profile_title" type="text" placeholder="zvendra" size="15px;" class="input_box" />
                </div>
            </div>
        </div>
        <div class="form_name_profile">
            <button class="confirm_changes">Подтвердить</br>изменения</button>
            <button class="cancel_changes">Отменить</button>
        </div>


    </div>
</form>