<!DOCTYPE html>

@{
    Challenges.Models.Users user = Challenges.Models.SharedObjects.GetCookieUserData() ?? new Challenges.Models.Users();
    Challenges.Models.Users userNullable = Challenges.Models.SharedObjects.GetCookieUserData();
    if (user.Nickname == null) { user.Nickname = user.Login; }
    ViewBag.User = user;
    ViewBag.IsAuthorized = (Challenges.Models.Users)userNullable != null;
    ViewBag.IsAvatarExist = File.Exists(HttpContext.Current.Server.MapPath("~/Files/Avatars/" + user.Id + ".jpg"));
}

<html lang="ru">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/Files/GetCssFile?fileString=Content/style.css" />

    <title>
        Challenge
    </title>
</head>

<body>
    <div class="menu">
        <h1 class="logo">Logo</h1>
        <nav class="nav">
            <a class="nav_link" href="#main">Главная</a>
            <a class="nav_link" href="#rivals">Соперники</a>
            <a class="nav_link" href="#search">Поиск</a>
            <a class="nav_link" href="#notifications">Уведомления</a>
            <a class="nav_link" href="#messanges">Сообщения</a>
            <a class="nav_link" href="#save">Сохранённое</a>
                @if (ViewBag.IsAuthorized)
                {
                    <a class="nav_link" href="/Auth/Profile">
                    @if (ViewBag.IsAvatarExist)
                    {
                        <img src="/Files/GetAvatar" height="32" style="border-radius: 24px; margin-top: 8px;" />
                    }@ViewBag.User.Nickname</a>
                }
                else
                {
                    <a class="nav_link" href="/Auth/Authorization">Войти</a>
                }
            <a class="nav_link" href="#customization">Настройки</a>
        </nav>



        <button class="button-hide"><span>Скрыть</span></button>
    </div>

    <div class="content">
        @RenderBody()
    </div>

    <div class="topics">
        <h2 class="topics_title">Актуальные темы</h2>
        <nav class="topics_nav">
            <a class="topics_link" href="#topics_link">Здесь</a>
            <a class="topics_link" href="#topics_link">Будут</a>
            <a class="topics_link" href="#topics_link">Расположены</a>
            <a class="topics_link" href="#topics_link">Актуальные</a>
            <a class="topics_link" href="#topics_link">Темы</a>
            <a class="topics_link" href="#topics_link">Челленджей</a>
        </nav>
    </div>



</body>
</html>