<!DOCTYPE html>

@{
    Challenges.Models.Users user = (Challenges.Models.Users)Session["User"] ?? new Challenges.Models.Users();
    if (user.Nickname == null) { user.Nickname = user.Login; }
    ViewBag.User = user;
    ViewBag.IsAuthorized = Session["User"] != null;
    ViewBag.IsAvatarExist = File.Exists(HttpContext.Current.Server.MapPath("~/Files/Avatars/" + user.Id + ".jpg"));
    ViewBag.Reputation = user.Reputation;
}

<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/Files/GetCssFile?fileString=Content/main.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Kaushan+Script&f..">

    <title>
        Главная
    </title>
</head>

<body>
    <div class="menu">
        <h1 class="logo">Logo</h1>
        <nav class="nav">
            <a class="nav_link" href="/Home/Index">  <img src="/Files/GetJpgFile?fileString=Content/css/house_main.PNG">  <div class="hiding_elems_left"> Главная</div></a>
            <a class="nav_link" href="/Home/CompetitorsIncoming">   <img src="/Files/GetJpgFile?fileString=Content/css/devil(2).png"><div class="hiding_elems_left"> Соперники</div></a>
            <a class="nav_link" href="#search">  <img src="/Files/GetJpgFile?fileString=Content/css/loupe.png"><div class="hiding_elems_left"> Поиск</div></a>
            <a class="nav_link" href="/Home/Notifications">  <img src="/Files/GetJpgFile?fileString=Content/css/bell.png"><div class="hiding_elems_left"> Уведомления</div></a>
            <a class="nav_link" href="/Home/Messanges">  <img src="/Files/GetJpgFile?fileString=Content/css/message.png"><div class="hiding_elems_left"> Сообщения</div></a>
            <a class="nav_link" href="#save">  <img src="/Files/GetJpgFile?fileString=Content/css/bookmark.png"><div class="hiding_elems_left"> Сохранённое</div></a>
            @if (ViewBag.IsAuthorized)
            {
                <a class="nav_link" href="/Auth/Profile">
                    @if (ViewBag.IsAvatarExist)
                    {
                        <img src="/Files/GetAvatar" height="32" style="border-radius: 24px; margin-top: 8px;" />
                    }@ViewBag.User.Nickname
                <p style="font-size: 8px">Репутация: @ViewBag.Reputation</p>
                </a>
            }
            else
            {
                <button class="nav_link" onclick="window.open('/Auth/Main','_blank')">  <img src="/Files/GetJpgFile?fileString=Content/css/user.png"> Войти</button>
            }
            <a class="nav_link" href="#customization">  <img src="/Files/GetJpgFile?fileString=Content/css/settings.png"> Настройки</a>
        </nav>

        <button class="button-hide" id="hideBtnLeft"><span>Скрыть</span></button>
        @if (ViewBag.IsAuthorized)
        {
        <button onclick="window.location.href='/Files/UploadChallengePage'" class="button-download"><img style="height: 30px; width: 30px; " src="/Files/GetJpgFile?fileString=Content/css/download.png"> <span>Загрузить</span> </button>
        }
    </div>

    <div class="content">
        @RenderBody()
    </div>



    <button class="button-hide" id="showBtnRight"><span>Скрыть</span></button>
    <div class="topics">
        <h2 class="topics_title">Актуальные темы</h2>
        <nav class="topics_nav">
            <a class="topics_link" href="#topics_link">Здесь</a>
            <a class="topics_link" href="#topics_link">Будут</a>
            <a class="topics_link" href="#topics_link">Расположены</a>
            <a class="topics_link" href="#topics_link">Актуальные</a>
            <a class="topics_link" href="#topics_link">Темы</a>
            <a class="topics_link" href="#topics_link">Челленджей</a>
        </nav>
        <button class="button-hide" id="hideBtnRight"><span>Показать</span></button>
    </div>

    <script src="/Files/GetJsFile?fileString=Content/main.js"></script>

</body>
</html>