<h2>Отмена челленджа</h2>

<p>Вы действительно хотите отменить этот челлендж?</p>
<form action="~/Files/CancelChallenge">
    <input type="hidden" value="@ViewBag.chId" name="chId" />
    <input type="submit" value="да"/>
    <input type="submit" value="да"/>
    <input type="submit" value="да"/>
    <input type="submit" value="да"/>
    <input type="submit" value="да"/>
    <input type="submit" value="да"/>
</form>