@{
    ViewBag.IsAuthorized = Session["User"] != null;
}

<h2>Загрузка челленджа</h2>

@if (ViewBag.IsAuthorized)
{
    <div style="position: absolute;left: 500px; right: 500px;top: 50px;background-color: darkgray;border-radius: 15px;">
        <form enctype="multipart/form-data" action="/Files/UploadChallenge" method="post" style="margin-left: 20px;">
            <div>
                Кому (логин, не никнейм): <input type="text" name="userNameTo" />
            </div>

            <div>
                Описание: <input type="text" name="challengeDescription" />
            </div>
            <div>
                Файл: <input type="file" name="videoFile" />
            </div>
            <input type="submit" value="Загрузить" />
        </form>
    </div>
}
else
{
    <p>Вы не авторизованы.</p>
}
