@{
    ViewBag.IsAuthorized = Session["User"] != null;
    if (ViewBag.IsAuthorized)
    {
        int targetUserId = ((Challenges.Models.Users)Session["User"]).Id;

        List<Challenges.Models.Users> users = new List<Challenges.Models.Users>();

        List<Challenges.Models.Challenges_Table> challenges = Challenges.Models.SharedObjects.database.Challenges_Table.Where(e => e.Id_User_To == targetUserId).ToList();
        ViewBag.Challenges = challenges;

        List<Challenges.Models.Responses_Table> responses = new List<Challenges.Models.Responses_Table>();
        int prevUserID = -1;
        foreach (Challenges.Models.Challenges_Table ch in challenges)
        {
            Challenges.Models.Responses_Table resp = Challenges.Models.SharedObjects.database.Responses_Table.FirstOrDefault(e => e.Id_Challenges_Table == ch.Id);
            if (resp != null)
            {
                responses.Add(resp);
            }
            else
            {
                responses.Add(null);
            }

            if(ch.Users.Id != prevUserID)
            {
                users.Add(ch.Users);
            }

            prevUserID = ch.Users.Id;
        }
        ViewBag.responses = responses;
        ViewBag.users = users;
    }
}
<link rel="stylesheet" type="text/css" href="~/Content/rivals.css">

@if (ViewBag.IsAuthorized)
{
<div class="rivals" style="position: relative; top: 20px;">
    <div class="line_rivals"></div>
    @{ 
        var users = ViewBag.users;
        List<Challenges.Models.Challenges_Table> challenges = ViewBag.challenges;
    }
    @foreach (Challenges.Models.Users user in users)
    {
        <div class="rivals_content">@(user.Nickname??user.Login)</div> <div class="line_rivals"></div>
        <div style="margin-left: 100px;">
            @foreach(Challenges.Models.Challenges_Table challenge in challenges.Where(e => e.Users == user))
            {
                <div class="rivals_content">@challenge.Description</div>
                <video src="/Files/GetChallengeVideoFile?videoId=@challenge.Id" preload="metadata" controls width="720"></video>
                <div class="line_rivals"></div>
            }
        </div>
    }
</div>
}
else
{
    <p>Вы не авторизованы.</p>
}