@{
    ViewBag.IsAuthorized = Session["User"] != null;
    if (ViewBag.IsAuthorized)
    {
        int targetUserId = ((Challenges.Models.Users)Session["User"]).Id;
        Challenges.Models.Challenges_Table[] challenges = Challenges.Models.SharedObjects.database.Challenges_Table.Where(e => e.Id_User_From == targetUserId).ToArray();
        ViewBag.Challenges = challenges;

        List<Challenges.Models.Responses_Table> responses = new List<Challenges.Models.Responses_Table>();
        foreach (Challenges.Models.Challenges_Table ch in challenges)
        {
            Challenges.Models.Responses_Table resp = Challenges.Models.SharedObjects.database.Responses_Table.FirstOrDefault(e => e.Id_Challenges_Table == ch.Id);
            if (resp != null){
                responses.Add(resp);
            }
            else
            {
                responses.Add(null);
            }
        }
        ViewBag.responses = responses;
    }
}

<h2>Отправленные челленджи</h2>
<br />

@if (ViewBag.IsAuthorized)
{
<table border="1">
    @for (int i = 0; i < ViewBag.challenges.Length; i++)
    {
        Challenges.Models.Challenges_Table ch = ViewBag.challenges[i];
        Challenges.Models.Responses_Table resp = ViewBag.responses[i];
        <tr>
            <td>Отправленное</td>
            <td>@ch.Description</td>
            <td>@Challenges.Models.SharedObjects.database.Users.FirstOrDefault(e => e.Id == ch.Id_User_From).Login</td>
            <td><video style="border-radius: 10px" controls src="/Files/GetChallengeVideoFile?videoId=@ch.Id" width="480"></video></td>
            <td><a href="/Files/UploadChallengeResponsePage?srcChallengeId=@ch.Id">Ответить на челлендж</a></td>
        </tr>
        <tr>
            <td>Ответ</td>
            @if (resp != null)
            {
                <td>@Challenges.Models.SharedObjects.database.Users.FirstOrDefault(e => e.Id == ch.Id_User_To).Login</td>
                <td><video style="border-radius: 10px" controls src="/Files/GetChallengeResponseVideoFile?videoId=@resp.Id" width="480"></video></td>
            }
            else
            {
                <td>Его нет...</td>
            }
        </tr>
        <tr style="height: 100px"><td>вставьте разделитель сюда</td></tr>
    }
</table>
}
else
{
    <p>Вы не авторизованы.</p>
}