<!--удалите это потом-->
<div class="icon">
    <img src="/Files/GetJpgFile?fileString=Content/css/like.png"> <br>
    <img src="/Files/GetJpgFile?fileString=Content/css/comments.png"><br>
    <img src="/Files/GetJpgFile?fileString=Content/css/audio.png"> <br>
    <img src="/Files/GetJpgFile?fileString=Content/css/share.png"> <br>
    <img src="/Files/GetJpgFile?fileString=Content/css/more.png"> <br>
</div>

<div>
    тут был контент<br/>
</div>