<!--удалите это потом-->
<div class="icon">
    <img class="icon_hover" src="/Files/GetJpgFile?fileString=Content/css/like.png"> <br>
    <img class="icon_hover" src="/Files/GetJpgFile?fileString=Content/css/comments.png"> <br>
    <img class="icon_hover" id="image" onclick="music_off()" src="/Files/GetJpgFile?fileString=Content/css/audio.png"> <br>
    <img class="icon_hover" src="/Files/GetJpgFile?fileString=Content/css/more.png"> <br>
</div>

<div>
    тут был контент<br/>
</div>